.sidebar{
  height:auto;
  i{
  color: rgba(#fff,.4);
  }
  span{
  color: rgba(255, 255, 255, 0.8);
  }
  }
  
  .sidebar-link{
  color: #fff;
  padding: 15px 5px;
  text-decoration: none;
  margin: 0 0 0 15px;
  
  }
  .site-list-item{
  display:flex;
  
  }
  
  .sidebar-link-top{
  @include flexCenter(row);
  color: #fff;
  padding: 20px 5px;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-decoration: none;
  .sidebar-brand-text{
  padding: 0 10px;
  }
  }
  .sidebar-line{
  margin:10px auto;
  width:80%;
  border-color: rgba(#fff,.4);
  }
  .sidebar-heading{
  @include ptl;
  color: rgba(#fff,.4);
  }
  .sidebar-button-bottom{
  @include flexCenter(row);
  background-color: $primary;
  border-radius: 50%;
  width:40px;
  height:40px;
  margin: 5px auto;
  button{
  background-color:$primary;
  border:none;
  color: rgba(#fff,.4);
  border-radius: 50%;
  }
  .button-i{
  background-color:$primary;
  width:22px;
  height:23px;
  }
  }
  
  //***************************** test dropdown in css ***********
  .dropbtn {
  width:50%;
  background-color: $primary;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
  }
  .line{
  width:80%;
  display:flex;
  justify-content:space-around;
  align-items: center;
  }
  .nav-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  }
  
  .dropdown-content {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #fff;
  padding: 15px 0 15px 10px;;
  font-size: 13px;
  border-radius:15px;
  z-index: 2;
  .collapse-header{
  color: #b7b9cc;
  
  }
  .sidebar-link{
  padding: .5rem 1rem;
  margin: 0 .5rem;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  border-radius: .35rem;
  }
  
  }
  
  .dropdown-content a {
  padding: 10px;
  margin: 0 auto;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  border-radius: 15px;
  
  }
  
  .dropdown-content a:hover {background-color: lighten($primary,35%)}
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  .dropdown:hover .dropbtn {
  background-color: $primary;
  }
  
  