
.dashboard { //top-title//
  @include jcsb;
  height: 50px;

  margin-top:20px;
  color: #595b68;
  width: 1020px;

  h1 {
    font-size: 28px;
  }

  button {
    font-size: 14px;
    background-color: $primary;
    color: white;
    border-radius: 4px;
    border-style: none;
    padding: 5px;
    margin-right: 20px;
    .fa-download{
      color: rgb(211, 209, 209);
      margin-left:0 5px 0 5px;
      
    }
  }
}


.boxes { //4 kaders income//
  @include jcsa;
  height: 100px;
  margin: 20px 0 40px 0 ;
width: 1020px;
  .header-box-one {
    border-left: solid 4px;
    border-color: $primary;
    @include boxes-style;
    flex-direction: column;
  justify-content: center;
  @include jcsb;
  .header-content{
    color: $primary;
  }

  
  }
  .header-content{ //inhoud boxes//
  font-size: 14px;
  margin-left: 7px;

  }
  .header-number{//nummers in boxes//
    font-size: 20px;
    margin-left: 8px;
    margin-top: 4px;
    color: #595b68;
    font-weight: 700;
  }
    .fa-calendar{
     @include icon-dash
    }
   
  .header-box-two {
    border-left: solid 4px;
    border-color: $succes;
    @include boxes-style;
    flex-direction: column;
    justify-content: center;
    @include jcsb;

    .header-content{
      color: $succes;
    }

    
    .fa-dollar-sign{
     @include icon-dash
    }
  }

  .header-box-three {
    border-left: solid 4px;
    border-color: $info;
    @include boxes-style;
    flex-direction: column;
    justify-content: center;
    @include jcsb;
    .header-content{
      color: $info;
    }

  
    .fa-clipboard-list{
     @include icon-dash;
    
    }
  }
  .header-box-four {
    border-left: solid 4px;
    border-color: $warning;
    @include boxes-style;
    flex-direction: column;
    justify-content: center;
    @include jcsb;
    .header-content{
      color: $warning;
    }

    
    .fa-comments{
     @include icon-dash;
    }
  }
}

.half-bar{ //procentbar//
  margin:10px;
  width: 80px;
  height: 7px;
  background-color: lightgray;
  border-radius: 5px;
  
}
.half-bar-fill{//procentbar vulling//
  margin:10px;
  width: 40px;
  height: 7px;
  background-color:$info;
  border-radius: 5px 0 0 5px;
  z-index: 1;
  margin: 0 35px 0 0;
 
}

.margin-content { //omvattende kader//
  margin-left :20px;
}
.content-top{
  @include jcsb;
  width: 1020px;

 
}
.article-one{
  display:flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
}
.article-two{
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
  
}
.article-title{
background-color: #f8f9fc;
border-radius: 7px 7px 0 0;
@include jcsb;
H1{
  padding:10px;
  color: $primary;
  font-weight: bold;
}
.fa-ellipsis-v{
  justify-content: right;
  margin:4px;
  color: $icon;
}
}

.article-two-title{
  background-color: #f8f9fc;
  border-radius: 7px 7px 0 0;
  @include jcsb;
 
  H1{
    padding:10px;
    color: $primary;
    font-weight: bold;
  }
  .fa-ellipsis-v{
    justify-content: right;
    margin:4px;
    color: $icon;
  }
  }


