.sidebar{
   height:auto;

}

.ul-sidebar{
  color: #fff;

  background-size: cover;
  height:auto;
  display: flex;
  flex-direction: column;
  list-style: none;

}
.sidebar-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    padding: 15px 5px;
    text-decoration: none;
    margin: 0 0 0 15px;
    i{
      color: rgba(#fff,.4);
    }
    span{
      margin: 0 0 0 20px;
    }
    .last-i{
      margin: 0 0 0 60px;
    }
}


.sidebar-link-top{
  @include flexCenter(row);
  color: #fff;
  padding: 20px 5px;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-decoration: none;
    .sidebar-brand-text{
      padding: 0 10px;
    }
}
 .sidebar-line{
  margin:10px auto;
  width:80%;
  border-color: rgba(#fff,.4);
}
.sidebar-heading{
  @include ptl;
  color: rgba(#fff,.4);
}
.sidebar-button-bottom{
  @include flexCenter(row);
  background-color: $primary;
  border-radius: 50%;
  width:40px;
  height:40px;
  margin: 5px auto;
   button{
     background-color:$primary;
     border:none;
     color: #fff;
     border-radius: 50%;
   }
   .button-i{
     background-color:$primary;
     width:22px;
     height:23px;
   }
}


//*****************************  test dropdown in css ***********
.dropbtn {
  background-color: $primary;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}

.dropdown {
  position: relative;
  display: inline-block;


}

.dropdown-content {
  display: none;
  position: absolute;
  left: 150px;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #fff;
  padding: 15px 0 15px 10px;;
  font-size: 13px;
  border-radius: 15px;
  z-index: 2;
  .collapse-header{
      color: #b7b9cc;

  }
  .sidebar-link{
      padding: .5rem 1rem;
      margin: 0 .5rem;
      display: block;
      color: #3a3b45;
      text-decoration: none;
      border-radius: .35rem;
  }

}

.dropdown-content a {
  padding: 10px;
  margin:  0 auto;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  border-radius: 15px;


}

.dropdown-content a:hover {background-color: lighten($primary,35%)}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: $primary;
}
