@mixin flexCenter($direction){
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: $direction;
}
@mixin jcsb(){
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

}
@mixin jcsa(){
  display:flex;
  justify-content: space-around;
  flex-direction: row;

  align-items: center;
}
@mixin ptl{
  padding-top: 10px;
  padding-left: 5px;
}
