@import "reset";
@import "variables";
@import "mixins";
@import "colors";
@import "component";
@import "component-B";
@import "componentA";

.wrapper{
  display: flex;
}
.left{
  width:15%;
  height: 100vh;
  border:1px solid black;
}
.right{
  width: 85%;
  height: 100vh;
  border:1px solid black;
}

.wrapper> div {
  border:1px solid black;
}


.left-right{
  @include jcsa;
}


.article-six-box{

  justify-content: space-between;
  .box-top{
    display: flex;
  }
  .box-middle{
    display: flex;
  }
  .box-bottom{
    display: flex;

  }
}
.article-box{
  margin:5px;
}


